**/*
!package.json
!package.nls*.json
!language-configuration.json
!syntaxes/
!syntaxes/*.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!dist/extension.cjs
!python/convert_hover.py
!python/requirements.txt
!python/vendor/cmake.py
!python/vendor/LICENSE.rst
!python/vendor/README.md
